body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.con-contactcards {
    row-gap: 1em;
}

.con-contactcard {
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.con-contactcard > div:last-of-type {
    text-align: right;
}

.con-contacttitle {
    font-size: 1.5em;
}

.con-contactcard dt {
    font-weight: 600;
    font-size: 0.8em;
}

.con-contactcard dd {
    font-size: 0.8em;
}

.con-contactcard a {
    font-size: 0.8em;
    text-decoration: none;
}